<div class="tabs-wrapper">
  <div class="card">
    <ul class="nav classic-tabs" role="tablist">
      <li class="active form-header default-color nav-item">
        <a routerLink="/login" class="nav-link waves-light waves-effect waves-light" data-toggle="tab" role="tab" aria-selected="false">
          <h3>
            Login
          </h3>
        </a>
      </li>
      <li class="active form-header default-color signupp nav-item">
        <a routerLink="/signUp" class="nav-link waves-light waves-effect waves-light" data-toggle="tab" role="tab" aria-selected="false">
          <h3>
            Sign Up
          </h3>
        </a>
      </li>
    </ul>
    <router-outlet></router-outlet>
 </div>
</div>
      <!--body-->
