.container{
  margin-top: 50px;
}
.form-header{
  background-color: greenyellow;
  color: darkcyan;
  text-align: center;
  margin-top: -55px;
  margin-bottom: 20px;
  padding: 15px;
  float: left;
  border-radius: 100px;
}
.signupp{
  margin-left: 34%;
}
.card{
  width: 450px;
  height: 500px;
  margin-top: 10%;
  margin-left: 35%;
  border: white;
}
